.tiamat-sidebar {
  width: 280px;
  background-color: #111;
  border-right: 1px solid #333;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  color: #ccc;
  font-family: 'Courier New', monospace;
}

.tiamat-sidebar-header {
  padding: 20px;
  border-bottom: 1px solid #333;
}

.tiamat-sidebar-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #e0e0e0;
}

.tiamat-sidebar-subtitle {
  font-size: 0.8rem;
  color: #777;
}

.tiamat-nav {
  padding: 15px 0;
}

.tiamat-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tiamat-nav-item {
  padding: 12px 25px;
  cursor: pointer;
  transition: all 0.3s;
  border-left: 3px solid transparent;
}

.tiamat-nav-item:hover {
  background-color: #222;
  border-left: 3px solid #555;
}
/* Для всех ссылок */
a, 
.tiamat-nav-item a {
  color: inherit;         /* Наследует цвет текста родителя */
  text-decoration: none;  /* Убирает подчеркивание */
}


.tiamat-nav-item.active {
  background-color: #1a1a1a;
  border-left: 3px solid #8b0000;
  color: #e0e0e0;
}

.tiamat-sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 85%;
  padding: 15px 20px;
  border-top: 1px solid #333;
  font-size: 0.9rem;
}

.online {
  color: #5d9e5d;
}